[Unit]
Description=Trigger self-update@%I.service

[Timer]
Unit=self-update@%I.service
OnCalendar=monthly
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target