[Unit]
Description=Trigger self-update@%i.service

[Timer]
Unit=self-update@%i.service
OnCalendar=monthly
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target