[Unit]
Description=Backup %I

[Service]
User=backup
Group=backup
EnvironmentFile=/usr/local/etc/backup/.env
EnvironmentFile=/usr/local/etc/backup/.env.secret
EnvironmentFile=%I/.config/backup/.env
EnvironmentFile=%I/.config/backup/.env.secret
ExecStart=/usr/local/bin/backup.sh %I

[Install]
WantedBy=multi-user.target