[Unit]
Description=Backup %I

[Service]
User=backup
Group=backup
EnvironmentFile=/usr/local/etc/backup/.env
EnvironmentFile=/usr/local/etc/backup/.secret.env
EnvironmentFile=%I/.config/backup/.env
EnvironmentFile=%I/.config/backup/.secret.env
ExecStart=/usr/local/bin/backup.sh %I

[Install]
WantedBy=multi-user.target
